{% extends "layout.html" %}
{% block content %}

<!-- ### Import external scripts ### -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.2/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.2/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.2/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.2/quill.bubble.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,700i,800" rel="stylesheet">
<!-- -->


<script>
    // Implement and register Word Count module
Quill.register('modules/counter', function(quill, options) {
  var container = document.querySelector('#counter');
  quill.on('text-change', function() {
    var text = quill.getText();
    // There are a couple issues with counting words
    word_count = text.split(/\s+/).length - 1;
    $('.progress-bar').css('width', word_count+'%').attr('aria-valuenow', word_count);
    $('.progress-bar').text(word_count + " words");
  });
});  
</script>



<!-- ### Begin body HTML ### -->

<div class="container container-wide">
    <table>
    <tr>
        <td id="quill_cell">
    
            <!-- WORD COUNT -->
            <div class="progress">
                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40"
                     aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>     
            </div>
        
            <!-- QUILL EDITOR -->
            <div id="quill_editor">
            <!-- placeholder contents set by quill script -->
            </div>
            
        </td>
        <td>
            <div id="sidebar"></div>
        </td>
        
    </tr>
    </table>
  
</div>



<!-- Main output container, below editor -->
<div class="container-fluid" id="mainOutput">
    <div class="row row-m-ts">
        <div class="col-md-12 spinner" align="center" id="avatar">
            <!--<figure>
                <embed type="image/svg+xml" src="{{url_for('static', filename='circle_head.svg')}}" />
            </figure>-->
            <img 
                 src="{{url_for('static', filename='circle_head2.svg')}}" 
                 alt="[Prose AI avatar]"
                 height="50px"
                 width="50px" />
            
            <div class="select-style" style="position:absolute" align="center">
                    <select class="dropdown">
                        <option value="keywords">KEYWORD ANALYSIS</option>
                        <option value="all_help">ASSISTIVE INTELLIGENCE</option>
                        <option value="knowledge">A.I. KNOWLEDGE</option>
                        <option value="proselint">STYLE ASSIST</option>
                        <option value="lexcat">LEXICAL ANALYSIS</option>
                        <option value="summary">SUMMARIZE</option>
                    </select>
            </div>
            
        </div>
        <div class="row row-m-ts">
        
        </div>
        
    </div>
    
    <div id="top-hr"><hr ></div>
    
    <div class="row row-m-t output knowledge">
        <div class="col-md-2 output-heading" id="completions_header">AI offers <em>context-relevant</em> knowledge:</div>
        <div class="col-md-10 small-text" id="completions"></div>
        <hr>
    </div>
 
    
    <!--
    <div class="row row-m-t output hidden">
        <div class="col-md-4 output-heading">Named Entities</div>
        <div class="col-md-8" id="entities"></div>
    </div>
    -->
    
    <div class="row row-m-t output proselint">
        <div class="col-md-3 output-heading" align="center"><button id="lint" class="btn btn-outline-info" alt="lint">Style Warnings:</button>
            <br/><br/>
            <button id="hide_lints" class="btn btn-sm hidden" alt="Clear">Clear</button>
            <br>
            <small><a href='http://proselint.com/checks/' target="_blank">What are these?</a></small>
 </div>
        <div class="col-md-9" id="proselints"></div>
        <hr> 
    </div>
    
    <div class="row row-m-t output other">
        <div class="col-md-4 output-heading">Other Output</div>
        <div class="col-md-8" id="other">Creative suggestions from brown cluster words</div>
         
    </div>
    
    <div class="row row-m-t output keywords">
        <div class="col-md-4">
            <div class="row">
                <div class="col-12 output-heading">Keywords</div>
            </div>
            <div class="row">
                <div class="col-12"><small>Your writing emphasizes these words / concepts:</small></div>
            </div>
        </div> 
        <div class="col-md-8 bold" id="extracted_topics"></div>
        <hr>
    </div>  
    
    <div class="row row-m-t output summary">
        <div class="col-md-3" align="center"><button id="summarize" class="btn btn-lg btn-outline-info" alt="summarize">Summarize</button> </div>
        <div class="col-md-9" id="summary"></div>
    </div>
    
    <div class="row row-m-t output summary">
        <div class="col-md-3 hidden" align="center" id="reada_header">Readability:</div>
        <div class="col-md-9 hidden" id="readability">
            <figure>
              <embed type="image/svg+xml" src="{{url_for('static', filename='reada_gauge.svg')}}" />
            </figure>
        </div>
    </div>
    
    <div class="row row-m-t output lexcat">
        <!--<div class="col-md-3 " align="center" id="lexcat_header">Lexical Categories:</div>-->
        <div class="col-md-12 " id="lexcat">
            <figure>
              <embed type="image/svg+xml" src="{{url_for('static', filename='lexical_radar.svg')}}?xxx=12345" />
            </figure>
        </div>
    </div>
    <hr>
</div>

<!--
<script>
var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
  ['blockquote', 'code-block'],

  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  //[{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  //[{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  //[{ 'direction': 'rtl' }],                         // text direction

  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  [{ 'font': [] }],
  [{ 'align': [] }],

  ['clean'],                                         // remove formatting button
  ['omega']
];

// Implement and register Word Count module
Quill.register('modules/counter', function(quill, options) {
  var container = document.querySelector('#counter');
  quill.on('text-change', function() {
    var text = quill.getText();
    // There are a couple issues with counting words
    word_count = text.split(/\s+/).length - 1;
    $('.progress-bar').css('width', word_count+'%').attr('aria-valuenow', word_count);
    $('.progress-bar').text(word_count + " words");
  });
});    

// Quill Editor options
var options = {
  debug: 'info',
  modules: {
    counter: true,
    toolbar: toolbarOptions
  },
  placeholder: 'Enter a few words...',
  theme: 'snow'
};
    
//     CREATE QUILL      //
var quill = new Quill('#quill_editor', options);
    
$.get('/editor/load_contents', function(delta_response) {
       var load = new Delta(JSON.parse(delta_response));
       quill.setContents(load);
       });
    
// Store accumulated changes
var Delta = Quill.import('delta');
var change = new Delta();
quill.on('text-change', function(delta) {
  change = change.compose(delta);
});

// Save periodically
setInterval(function() {
  if (change.length() > 0) {
    console.log('Saving changes', change);
      
    /* 
    //Send partial changes
    $.post('/editor/save_delta', { 
      partial: JSON.stringify(change) 
    });
    */
    
    
    //Send entire document
    $.getJSON('/editor/save_contents', { 
      contents: JSON.stringify(quill.getContents()) 
    });
    
    
    change = new Delta();
  }
}, 5*1000);

// Check for unsaved data
window.onbeforeunload = function() {
  if (change.length() > 0) {
    return 'There are unsaved changes. Are you sure you want to leave?';
  }
  //if (proseai.status === 'alive') {
  //  return 'Are you sure you want to leave this page? Prose AI will be killed.';    
  //}
}
</script>
-->








<!-- ------------------- -->
<!-- AJAX jQuery call to send all text in editor and parse JSON response data from server-->
<!--
<script type=text/javascript>
$(function catch_quill_change() {
  $('div#quill_editor').on("change keyup", function() {      
    // to python backend API  
    $.getJSON('/editor/textproc/', {
      content: quill.getText(),
    }, function(response_data) {
      // Update output elements
      //$("#entities").html(response_data.ents); 
      $("#other").html(response_data.other);
    });
    return false;
  });
});

// Gets extractive summary
$(function summarize() {
  $('button#summarize').on("click", function() {      
    // to python backend API  
    $.getJSON('/editor/textproc/summarize', {
      content: quill.getText(),
    }, function(response_data) {
      $("#summary").html(response_data.summary); //update summary
      var readability = response_data.readability //JSON object of readability scores
      var readability_ease = readability['flesch_readability_ease']
      $("#readability").text(JSON.stringify(readability_ease));
      $("#reada_header").removeClass("hidden");
    });
    return false;
  });
});
    
// checks #entities list every few seconds and tries to turn them into wikipedia links
/*
setInterval(function() {
    $('#entities').text(function() {
        $.getJSON('/editor/textproc/linkify', {
          ents: $('#entities').text(),
        }, function(response_data) {
          $("#linkified_entities").html(response_data.linkified_ents); //update Output
              //response_data.suggestions //update cycle's span items 
        });
    });
}, 3000);
*/
 
setInterval(function() {
    $('#quill_editor').text(function() {
        $.getJSON('/editor/textproc/get_keyterms', {
          content: quill.getText(),
        }, function(response_data) {
          $("#extracted_topics").html(response_data.keyterms);
        });
    });
}, 5000);
    

$(function lint() {
  $('button#lint').on("click", function() {       
        $.getJSON('/editor/textproc/lint_prose', {
            content: quill.getText(),
        }, function(response_data) {
            $("#proselints").empty();
            var suggestions = response_data.proselint_suggestions;
            suggestions.forEach(function (sugg){ 
                //sugg = {check, message, line, column, start, end, extent, severity, replacements} 
                
                var sugg_replacements = sugg.replacements //usually is null
                if (!sugg.replacements) { sugg_replacements = "" };
                
                $("#proselints").append('Check line '+sugg.line+': "', sugg.message + 
                                        '"<br>' + sugg_replacements + '<hr>');
                
                quill.formatText(sugg.start-1, sugg.extent, 'background-color', 'yellow');  
            } )
            
            $("#hide_lints").removeClass("hidden");
        });
    });
});
    
$(function hide_lint_formats() {
  $('button#hide_lints').on("click", function() {       
      quill.formatText(0, quill.getLength(), 'background-color', 'white');
      $("#proselints").empty();
      $("#hide_lints").addClass("hidden");
  });
});


// Toolbar
//var customButton = document.querySelector('#custom-button');
//customButton.addEventListener('click', function() {
//  var range = quill.getSelection();
//  if (range) {
//    quill.insertText(range.index, "Ω");
//  }
//});
    
$("#quill_editor").focusin(function() {
    $(".a-eye").fadeIn();
}).focusout(function () {
    $(".a-eye").fadeOut();
});

</script>
-->



{% endblock %}